* {
    margin: 0;
    padding: 0;
    box-sizing:none;
    text-decoration: none;
    list-style-type: none;
    overflow:hidden;
    height: 100%;
}

.navbar {
    width: 100%;
    height: 40px;
    background-color: #dc3545;
    display:block;
    position: sticky;
    padding: 10px;
    left: 100px;
    box-shadow: 0 5px 15px;


}


.navlist {
    display: flex;
    left: 50px;
    gap: 20px;
    font-size: x-large;
    position: absolute;
    width: 100%;
    height: 100%;


}
a {
    color: white;
 

}

a:hover {
   text-decoration: underline;
   color:black;
   transition: 0.5s;
}
