*{
    margin: 0;
    padding: 0;
}
h4{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
display: flex;
position: absolute;
}
.words{
    width: auto;
    overflow: hidden;
    padding: 0;
    margin: 10px;
    display:block;
    position: absolute;
    left: 50%;
    top: 50%;

}